<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repositories.Properties.Settings.usda_nutrientConnectionString"
            connectionString="Data Source=tcp:henyamburu.database.windows.net;Initial Catalog=usda_nutrient;User ID=henyamburu@henyamburu;Password=na!r0b!BLB;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>